<section class="autoGrid">
    <app-modal></app-modal>
    <div class="card shadow">
        <img src="{{product.imgUrl}} " class="card-img-top " alt="... " loading="lazy">
        <article class="">
            <h3 class="card-title">{{product.productName}}</h3>
            <h5 class="card-text ">${{product.price}}</h5>
            <p>{{product.description}}</p>

        </article>

        <button class="btn btn-outline-success"> Add To Cart</button>
        <!-- <article class="flex " *ngIf=" isUserAuthenticated ">
            <button (click)="deleteProduct(product.id!) " class="btn btn-outline-danger mx-4 ">deleteProduct</button>
            <a class="btn btn-outline-info " [routerLink]="[ '/editProduct',product.id] ">EditProduct</a>

        </article> -->

    </div>
</section>