<section class="container">

    <div class="row">
        <div class="card col-4">
            <img src="... " class="card-img-top " alt="... ">
            <article class="card-body ">
                <h5 class="card-title ">Card title</h5>
                <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="# " class="btn btn-primary ">Go somewhere</a>
            </article>
        </div>
        <div class='card col-4'>
            <img src=" ... " class="card-img-top " alt="... ">
            <article class="card-body ">
                <h5 class="card-title ">Card title</h5>
                <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="# " class="btn btn-primary ">Go somewhere</a>
            </article>
        </div>
        <div class='card col-4'>
            <img src=" ... " class="card-img-top " alt="... ">
            <article class="card-body ">
                <h5 class="card-title ">Card title</h5>
                <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="# " class="btn btn-primary ">Go somewhere</a>
            </article>
        </div>



    </div>


</section>