<app-modal>
</app-modal>
<section class="autoGrid">

    <div class="card shadow" *ngFor="let product of products">
        <article class="flex" *ngIf=" isUserAuthenticated">
            <button (click)="deleteProduct(product.id!)" class="btn btn-danger ">deleteProduct</button>
            <a class="btn btn-outline-info " [routerLink]="['/editProduct',product.id]">EditProduct</a>

        </article>
        <img src="{{product.imgUrl}}" class="card-img-top" alt="{{product.productName}}" loading="lazy">
        <article class="">
            <h3 class="card-title">{{product.productName}}</h3>
            <h5 class="card-text">${{product.price}}</h5>

        </article>
        <button class="btn btn-outline-primary" [routerLink]="['/products',product.id]">View Product Details</button>


    </div>
</section>