<section class="container">


    <div class="row">
        <div class="card col-4" *ngFor="let product of products">
            <img src=" ... " class="card-img-top " alt="... ">
            <article class="card-body ">
                <h5 class="card-title ">{{product.productName}}</h5>
                <p class="card-text ">{{product.description}}</p>
                <button class=" btn btn-primary" [routerLink]="['/products',product.id]">View Product Details</button>
            </article>
            <article class="flex">
                <button (click)="deleteProduct(product.id!)" class="btn btn-outline-danger mx-4">deleteProduct</button>
                <a class="btn btn-outline-info " [routerLink]="['/editProduct',product.id]">EditProduct</a>

            </article>

        </div>






    </div>


</section>