<ul class="nav nav-pills">
    <li class="nav-item">
        <a routerLink="/create-product" class="nav-link" aria-current="page" routerLinkActive="active">Create_Product</a>
    </li>
    <li class="nav-item">
        <a routerLink="/products" class="nav-link" routerLinkActive="active">Products</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">Sign-Up</a>
    </li>
</ul>