<section class="container mb-5">
    <form [formGroup]="registerFormValues" (ngSubmit)="CreateAccount()">
        <div class=" mb-3 ">
            <label for="exampleFormControlInput1 " class="form-label ">FullName</label>
            <input type="email " class="form-control " id="exampleFormControlInput1 " placeholder="John Doe" formControlName="fullname">
        </div>
        <div class="mb-3 ">
            <label for="exampleFormControlTextarea1 " class="form-label ">UserName</label>
            <input type="number " class="form-control " placeholder="temple69" formControlName="UserName" />
        </div>
        <div class="mb-3 ">
            <label for="exampleFormControlTextarea1 " class="form-label ">Password</label>
            <input type="password" alt=" " class="form-control" formControlName="password">
        </div>
        <article class="article ">
            <button class=" btn btn-outline-primary button">Create Account</button>
        </article>

    </form>

</section>